@model AtividadeListModel
@using TesteApplication.Models
@{
    Layout = "_Layout";
}
@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/3.20.0/tf.min.js"></script>
    <script>

        //Inserção de Atividade
        async function enviar() {
            let messageText = "";
            let url = "";
            const campoInicial = document.querySelector("#iCampoDataInicial"),
                campoFinal = document.querySelector("#iCampoDataFinal");


            let options = {
                method: "POST",
                object: {
                    dataHoraInicial: "0",
                    dataHoraFinal: "0",

                }
            }
            try {
                await fetch(url, options);
                messageText = "Sucesso!";
            }
            catch (ex) {
                messageText = "Erro!";
            }
            return messageText;
        }
        let sendButton = document.querySelector("#idEnviar");


    </script>
}
    <div>
        <!--Criação da Linha-->
        <h5> Inserção de Nova Atividade </h5>
        <div class="row justify-content-center">

            <!--Criação da Coluna ( Data Inicial )-->
            <div class="col-sm-2">

                <label for="iCampoDataInicial"> Data Inicial: </label>
                <input type="date" id="iCampoDataInicial" />

            </div>

            <!--Criação da Coluna ( Data Final )-->
            <div class="col-sm-2">

                <label for="iCampoDataFinal"> Data Final: </label>
                <input type="date" id="iCampoDataFinal" />

            </div>
            <div class="row mt-4">

                <div class="text-center">
                    <input type="button" class="btn btn-success" id="idEnviar" value="Enviar" />
                </div>

            </div>
        </div>

    </div>

