@model AtividadeListModel
@using TesteApplication.Models
@{
    Layout = "_Layout";
}
@section Scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tensorflow/3.20.0/tf.min.js"></script>
    <script>

        //Inserção de Atividade
        async function enviar() {
            let ok = false;
            let url = "https://localhost:44388/AtividadeApi/SetAtividadeManually";
            const campoInicial = `${document.querySelector("#id_CampoDataInicial").value} ${document.querySelector("#id_CampoHorarioInicial").value}`,
                campoFinal = `${document.querySelector("#id_CampoDataFinal").value} ${document.querySelector("#id_CampoHorarioFinal").value}`,
                campoDistancia = `${document.querySelector("#id_DistanciaMetros").value}`;


            let options = {
                "method": "POST",
                "headers": { "Content-Type": "application/json" },
                "body": JSON.stringify({
                    dataInicialString: campoInicial,
                    dataFinalString: campoFinal,
                    DistanciaMetros: campoDistancia,

                }),
                //mode:"no-cors"
            }
            try {
                let apireq = await fetch(url, options).then(function(data) { console.log(data); });
                ok = true;
            }
            catch (ex) {
                ok = false;
            }
            return ok;
        }
        let sendButton = document.querySelector("#idEnviar");
        sendButton.addEventListener("click", async function() {
            let mensagem = await enviar();
            if (!mensagem) {
                console.log("Erro!");
            }
        })



    </script>
}
    <div>
        <!--Criação da Linha-->
        <h5> Inserção de Nova Atividade </h5>
        <div class="row justify-content-center">

            <!--Criação da Coluna ( Data Inicial )-->
            <div class="col-sm-3">

                <label for="id_CampoDataInicial"> Data Inicial: </label>
                <input type="date" id="id_CampoDataInicial" class="form-control" />

            </div>

            <!--Criação da Coluna ( Data Final )-->
            <div class="col-sm-3">

                <label for="id_CampoDataFinal"> Data Final: </label>
                <input type="date" id="id_CampoDataFinal" class="form-control" />

            </div>
        </div>

        <div class="row justify-content-center mt-2">

            <div class="col-sm-3">
                <label for="id_CampoHorarioInicial"> Horário Inicial: </label>
                <input type="time" id="id_CampoHorarioInicial" class="form-control" />

            </div>
            <div class="col-sm-3">
                <label for="id_CampoHorarioFinal"> Horário Final: </label>
                <input type="time" id="id_CampoHorarioFinal" class="form-control" />

            </div>

        </div>
        <div class="row justify-content-center mt-2">
            <div class="col-sm-2">
                <label for="id_DistanciaMetros">Distancia (em Metros):</label>
                <input id="id_DistanciaMetros" type="number" min="1" class="form-control" />
            </div>
        </div>
        <div class="row mt-4">

            <div class="text-center">
                <input type="button" class="btn btn-success" id="idEnviar" value="Enviar" />
            </div>

        </div>

    </div>

